[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/joshua-mbg
[access "refs/for/refs/*"]
	read = group user/joshua-mbg
	push = group user/joshua-mbg
	label-Code-Review = -2..+2 group user/joshua-mbg
	label-Verified = -1..+1 group user/joshua-mbg
	rebase = group user/joshua-mbg
	removeReviewer = group user/joshua-mbg
	submit = group user/joshua-mbg
[access "refs/heads/*"]
	read = group user/joshua-mbg
	create = group user/joshua-mbg
	push = +force group user/joshua-mbg
	pushMerge = group user/joshua-mbg
[access "refs/tags/*"]
	push = +force group user/joshua-mbg
	pushTag = group user/joshua-mbg
	pushSignedTag = group user/joshua-mbg
